body {
    margin: 0;
}

#content {
    height: 100%;
}

.bg-dark {
    background: #676767;
}

.txt-cntr {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p, h4 {
    margin: 5px;
}

h4 {
    color: #ce7a7c;
}

p {
    color: white;
}

.w20 {
    width: 20%;
}

.w40 {
    width: 39.5%;
}

.w60 {
    width: 58.415%;
}

.w80 {
    width: 79%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100px;
}

.h200 {
    height: 200px;
}

.h250 {
    height: 250px;
}

.h400 {
    height: 400px;
}

.flex {
    display: flex;
}

.gap {
    column-gap: 10px;
    row-gap: 10px;
}

.wrap {
    flex-wrap: wrap;
}

#footer {
    height: 150px;
}

#block-3456789 {
    height: 660px;
    justify-content: space-between;
}

#block-89 {
    position: relative;
    top: -240px;
}

@media screen and (min-width: 0) and (max-width: 992px) {
    #content {
        max-width: 992px;
        /*flex-direction: column;*/
    }

    #content div {
        column-gap: 10px;
        row-gap: 10px;
    }

    #nav {
        height: 300px;
    }

    #block-4567, #block-89, #nav, #types-b, #r-products {
        width: 100%;
    }

    #block-67 {
        flex-wrap: wrap;
    }

    #types-b {
        height: 700px;
    }

    #r-products {
        height: 300px;
    }

    #block-89 {
        position: relative;
        top: 0;
        justify-content: space-between;
    }

    #s-locator, #tools {
        width: 49%;
    }

    #footer {
        position: relative;
        top: 1030px;
    }
}