body {
    margin: 0;
    background: whitesmoke;
}

.flex {
    display: flex;
}

.brdr-box {
    box-sizing: border-box;
}

.bg-silver {
    background: silver;
}

.center {
    justify-content: center;
    align-items: center;
}

.rds-3 {
    border-radius: 3px;
}

.w100 {
    width: 100%;
}

.border {
    border: 3px solid black;
}

.pddng-30 {
    padding: 30px;
}

.wrap {
    flex-wrap: wrap;
}

.spc-between {
    justify-content: space-between;
}

#container-1 {
    height: 50px;
    padding: 7px 20px;
    position: relative;
}

.box-1 {
    width: 120px;
    height: 30px;
}

#container-2 {
    width: 13.48%;
    height: 1670px;
    padding: 20px;
}

#container-2 div {
    margin-bottom: 10px;
}

#container-3 {
    height: 400px;
}

#container-3 > div {
    height: 100%;
}

#container-4 {
    height: 170px;
}

.box-2 {
    min-width: 22%;
    max-height: 100%;
}

#container-5 {
    width: 82%;
    height: 1000px;
}

.box-3 {
    width: 48%;
    height: 13%;
}

#small-element-five {
    width: 20%;
    height: 5%;
    margin: 0 40%;
}

#container-6 {
    width: 18%;
    height: 1000px;
}

#container-6 div {
    margin-bottom: 20px;
}

.box-4 {
    height: 10%;
}

#container-7 {
    height: 100px;
}

#seven-elmnt-one {
    width: 100%;
    height: 45%;
}

#seven-elmnt-two {
    width: 25%;
    height: 45%;
    margin: 10px 40%;
}

#content {
    width: 100%;
    height: 100%;
}
#content-34567 {
    width: 1093px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    #container-2 {
        display: none;
    }

    #content {
        max-width: 992px;
    }
    #container-1 {
        height: 20%;
    }
    #container-4 {
        width: 100%;
        flex-wrap: wrap;
    }
    .box-2 {
        width: 50%;
        height: 25%;
    }

    #content-56  {
        flex-direction: row;
    }
    #container-6 {
        width: 100%;
    }


}

@media screen and (min-width: 0) and (max-width: 768px) {
    #container-2 {
        display: none;
    }
}