html, body {
    scroll-behavior: smooth
}
body {
    background: yellow
}
p {
    text-align: justify;
    color: rgb(11,11,111);
}
.h {
    text-align: center;
    color: cornflowerblue;
}
.ul {
    font-size: large;
}